<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
      <nav class="navbar">
        <div class="navbar-container">
          <%= link_to 'Home', root_path, class: 'navbar-item' %>
          <%= link_to 'My Lists', lists_path, class: 'navbar-item' %>
          <%= link_to 'New List', new_list_path, class: 'navbar-item button' %>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
